@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    box-sizing: border-box;
    font-family: "Space Mono", Arial, serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff9100de;
    width: 100%;
    z-index: 20;
}

.navbar .navbar-brand {
    color: white;
    font-family: 'Righteous';
    font-size: 25px;
}

.navbar .navbar-brand:hover {
    color: #2f3c4f;
}

.navbar .nav-link {
    color: white;
    font-family: monospace;
}

.navbar .nav-link:hover {
    color: #2f3c4f;
}

/* INICIO */
.inicio {
    background: linear-gradient(to bottom, rgba(255, 145, 0, 0.9), rgba(255, 145, 0, .9)),
        url(img/fondoWall.png);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #ececec00;
    max-width: 450px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 5px solid #ffffff;
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin: 40px 0px;
    font-size: 60px;
    font-family: "Kaushan Script", cursive;
    transform: rotate(-5deg);
}

.inicio .contenido-banner h1::before {
    position: absolute;
    top: 40px;
    left: 0;
    width: 30px;
    height: 4px;
    content: '';
    background: #fff;
    margin-left: -30px;
}

.inicio .contenido-banner h1::after {
    position: absolute;
    top: 40px;
    right: 0;
    width: 30px;
    height: 4px;
    content: '';
    background: #fff;
    margin-right: -30px;
}

.inicio .contenido-banner span {
    font-size: 25px;
    text-align: center;
    display: inline-block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 24ch;
    animation: typing 3s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #2f3c4f;
}

.aboutMe {
    background-color: #fff;
    color: #111;
    padding: 60px 20px;
}

.aboutMe .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.aboutMe h2 {
    font-size: 48px;
    font-family: "Space Mono", Arial, serif;
    text-align: center;
    padding: 20px 0;
}

.aboutMe .personalData ul {
    list-style: none;
}

.aboutMe .personalData ul li {
    margin: 12px 0;
}

.aboutMe .personalData ul li strong {
    font-family: "Space Mono", Arial, serif;
    display: inline-block;
    color: #4d4d4ddb;
    width: 160px;
}

.aboutMe .personalData ul li .underline {
    font-family: "Space Mono", Arial, serif;
    color: #fff;
    background-color: #2f3c4f67;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.aboutMe .description {
    font-family: "Space Mono", Arial, serif;
    color: #4d4d4ddb;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.aboutMe .description span {
    color: #2f3c4f;
    font-weight: bold;
}

.aboutMe button {
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(255, 145, 0, 1);
    width: fit-content;
    display: block;
    margin: 5px auto;
    padding: 10px 22px;
    font-size: 18px;
    color: #2f3c4f;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.aboutMe button .overlay {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 145, 0, 1);
    z-index: -1;
    transition: width 1s ease;
}

.aboutMe button:hover .overlay {
    width: 100%;
}


/* SECCION S K I L L S */
.skills {
    background-color: #fff;
    color: #111;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    text-align: center;
    padding: 20px 0;

}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    margin-bottom: 25px;
}

.skills .skill>span {
    color: #4d4d4ddb;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #4d4d4dbd;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
}

.skills .skill .progreso {
    background-color: rgba(255, 145, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    border-radius: 10px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 145, 0, 1);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    color: #fff;
    font-size: 15px;
}

/* Skill */

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .typescript {
    width: 0%;
    animation: 2s typescript forwards;
}

@keyframes typescript {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skills .skill .java {
    width: 0%;
    animation: 2s java forwards;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skills .skill .angular {
    width: 0%;
    animation: 2s angular forwards;
}

@keyframes angular {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skills .skill .springboot {
    width: 0%;
    animation: 2s springboot forwards;
}

@keyframes springboot {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skills .skill .nodejs {
    width: 0%;
    animation: 2s nodejs forwards;
}

@keyframes nodejs {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .trabajoEquipo {
    width: 0%;
    animation: 2s trabajoEquipo forwards;
}

@keyframes trabajoEquipo {
    0% {
        width: 0%;
    }

    100% {
        width: 99%;
    }
}

.skills .skill .proactivo {
    width: 0%;
    animation: 2s proactivo forwards;
}

@keyframes proactivo {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }

    100% {
        width: 99%;
    }
}

.skills .skill .autodidacto {
    width: 0%;
    animation: 2s autodidacto forwards;
}

@keyframes autodidacto {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

/* CURRICULUM */
.curriculum {
    background-color: rgba(255, 145, 0, 1);
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    text-align: center;
    padding: 20px 0;

}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #4d4d4d80;
}

.curriculum .fila .derecha {
    border-left: 2px solid #4d4d4d80;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #ffffff;
    position: relative;
    border-radius: 10px;
    height: 190px;
}

.curriculum .fila .item h4 {
    color: rgba(255, 145, 0, 1);
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: rgba(255, 145, 0, 1);
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: rgba(255, 145, 0, 1);
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid #ffffff;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #ffffff;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #ffffff;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    float: right;
    position: relative;
    bottom: 4px;
    left: 1px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #ffffff;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    float: left;
    position: relative;
    bottom: 4px;
    left: -1px;
}

/* PORTFOLIO */
.portfolio {
    background-color: #fff;
    color: #111;
    padding: 50px 20px;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
    border: 1px solid rgba(255, 145, 0, 1);
    border-radius: 10px;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
    border-radius: 9px;
    height: 245px;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(255, 145, 0, .8), rgba(255, 145, 0, .9));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
    border-radius: 9px;
}

.portfolio .galeria .proyecto .overlay h3 {
    color: #fff;
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .proyecto .overlay p {
    color: #fff;
}

.portfolio .galeria .proyecto .overlay a {
    width: fit-content;
    align-self: center;
    color: #fff;
}

.overlay .bi:before {
    font-size: 50px;
}

.portfolio .galeria .proyecto .overlay a:hover {
    color: #2f3c4f;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* CONTACTO */
.contacto {
    background-color: rgba(255, 145, 0, 1);
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 500px;
    margin: auto;
    padding: 15px;
}

.contacto h2 {
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.contacto .form input,
.contacto .form textarea {
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
}

.contacto button {
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.contacto button .overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2f3c4f;
    z-index: -1;
    transition: width 1s ease;
}

.contacto button:hover .overlay {
    width: 100%;
}

footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover {
    background-color: #feffff;
    color: rgba(255, 145, 0, 1);
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    color: #252A2E;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

footer .arriba:hover {
    background-color: #252A2E;
    color: #ffffff;
}

footer .arriba .bi:before {
    font-size: 50px;
}

/* RESPONSIVE */

@media screen and (max-width:700px) {
    body {
        min-width: 350px;
    }

    .aboutMe .fila {
        display: block;
    }

    .aboutMe .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .curriculum .fila .item h4 {
        font-size: 15px;
    }

    .curriculum .fila .item .casa {
        font-size: 18px;
    }

}

@media (max-width: 1200px) {
    .inicio .contenido-banner h1 {
        margin: 20px 0px;
        font-size: 35px;
    }

    .inicio .contenido-banner h1::before {
        position: absolute;
        top: 20px;
        left: 0px;
        margin-left: 20px;
    }

    .inicio .contenido-banner h1::after {
        position: absolute;
        top: 22px;
        right: 0;
        margin-right: 13px;
    }

    .inicio .contenido-banner span {
        font-size: 15px;
    }

    .col-5 {
        width: 100%;
    }

    .col-7 {
        text-align: center;
        width: 100%;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 10px;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}